/* Write your CSS here */
.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  background-size: cover;
  min-height: 100vh;
  padding: 20px;
}

.ipl-logo-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: #ffffff;
}

.head {
  font-size: 30px;
  padding-left: 10px;
}

.img-ipl-logo {
  height: 50px;
}

@media screen and (min-width: 768px) {
  .bg-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  }
}
