/* Write your CSS here */
.latest_match {
  background-size: cover;
  background-color: #0f172a;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  color: #ffffff;
}

.img-team-logo {
  height: 200px;
  width: 200px;
}

.right_details {
  text-align: right;
}

.left_details {
  text-align: left;
}
