/* Write your CSS here */
.latest_match {
  background-size: cover;
  background-color: #0f172a;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.img-team-logo {
  height: 200px;
  width: 200px;
}
